.titulo-t {
    background-image: linear-gradient(aquamarine, blueviolet);
   
}
 
.titulo__talleres--uppercase {
    font-size: 30px;
    font-family: arial;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}
 
.titulo__talleres {
    background-image: linear-gradient(to right, lightsalmon, aqua);
    font-style: italic;
    font-family: arial;
    padding: 15px;
   
}
 
.informacion {
    font-size: 16px;
    font-family: arial;
    padding: 10px;
}
 
.informacion:hover {
    background-color: rgb(187, 245, 187);
    transform: scale(1, 1);
    transition: 4s;
}

 
#carouselContainer {
    width: 620px;
    height: 240px;
    margin-bottom: 400px;
    margin-top: 100px;
}
 
.cuerpo {
    width: 440px;
    height: 500px;
    display: flex;
    text-align: center;
}

.separar {
    margin-top: 100px;
}
 
h3 {
    text-align: center;
}
